<!doctype html>
<head>
<body>

<div class="container">
	<button onClick="createConvo()" class="btn btn-primary">
		Create conversation 
	</button>
</div>

<div class="container">
OR
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<button onClick="createSentence()" class="btn btn-primary">
				Create single sentence from this person:
			</button>
		</div>
		<div class="col-xs-3">
			<select id=person-select class="form-control col-xs-6">
			</select>
		</div>
	</div>
</div>

<div id="generated-text" class="container">

</div>
<script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="static/MarkovMaker.js"></script>
</body>
